<!DOCTYPE html>  
<html lang="en" ng-app="">  
<head>  
    <title>Form</title>
    <script src="https://code.angularjs.org/1.6.9/angular.js"></script>
 </head>  
<body ><center>
Name:&nbsp;&nbsp;&nbsp;&nbsp; <input type="text" ng-model="name"><br/>
City:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" ng-model="city"><br/>
Age:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" ng-model="age"><br/>
Roll No:&nbsp;&nbsp;&nbsp;<input type="text" ng-model="roll"><br/>
This is your number:{{name}}<br/>
This is your number:{{city}}<br/>
This is your number:{{age}}<br/>
This is your number:{{roll}}<br/>
</center>
</body>
</html>